* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace ;

}

body {
    background-color: #282C35;


}

h2 {
    text-align: center;
    color: white;
    margin: 100px auto 50px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

#input-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px;
    margin-top: 40px;

}

#input-box
{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    color: white;
}

#input-box::placeholder
{
    color: #fff;
    letter-spacing: 1px;
}

#search-btn
{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}

#show-more
{
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: orangered;
    color: #fff;
    margin: 10px auto 100px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    display: none;
}

#search-result
{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}

#search-result img
{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 4px;
}
